.fullView {
    width: 100vw;
    height: 100vh;
    background-color: #060606;
}

.mainCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2vh;
}

.mainCol img {
    height: 14vh;
    margin-bottom: 6vh;
    border-radius: 4px;
}

.logo {
    display: none;
}

.loginButtons {
  background-color: #1A1A1A;
  color: #ffffff;
  font-size: 1.3rem;
  border: 2px solid #222222;
  border-radius: 4px;
  padding: 1.25rem;
  transition: all 0.3s ease;
  box-sizing: border-box;
  min-width: 8vw;
}

.loginButtons:hover {
  border-color: #3b82f6;
  transform: scale(1.008);
}

