.viewArea {
  padding: 3%;
  width: 100vw;
  height: 100vh;
}

.mainBox {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 84%;
  border: 1px black solid;
}
.leftBox {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 100%;
  border: 1px black solid;

}
